{% extends 'layout.html' %}
{% load static %}
{% load i18n %}
{% block title %}
  <title>{% trans 'Mkontakt' %}- {{ blog.title }}</title>
{% endblock %}
{% block meta_tags %}
  <meta name="description" content="{{ blog.title }} - {% trans 'Mkontakt Blog' %}" />
  <meta property="og:title" content="{% trans 'Mkontakt' %} - {{ blog.title }}" />
  <meta property="og:description" content="{{ blog.title }} - {% trans 'Mkontakt Blog' %}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ request.build_absolute_uri }}" />
  {% if blog.image %}
    <meta property="og:image" content="{{ blog.image.url }}" />
  {% else %}
    <meta property="og:image" content="{% static 'images/blog.png' %}" />
  {% endif %}
{% endblock %}
{% block main %}
  <section id="mini-routes">
    <div class="routes">
      <a href="{% url 'MContact:index' %}" class="route">{% trans 'Əsas səhifə' %}</a>
      <div>
        <i class="fa-solid fa-chevron-right"></i>
      </div>
      <a href="{% url 'MContact:blog_list' %}" class="route">{% trans 'Bloq' %}</a>
      <div>
        <i class="fa-solid fa-chevron-right"></i>
      </div>
      <a href="#" class="route active">{{ blog.title }}</a>
    </div>
  </section>

  <section id="blog-detail-main">
    <div class="blog-detail-title">
      <h1>{{ blog.title }}</h1>
    </div>
    <div class="blog-detail-container">
      <div class="blog-detail-box">
        <div class="blog-detail-content">
          <div class="description">{{ blog.description|safe }}</div>
        </div>
        <div class="blog-detail-img">
          <img id="main-blog-image"
            src="{% if blog.ordered_images %}
              {{ blog.ordered_images.0.image.url }}
            {% else %}
              {% static 'images/blog.png' %}
            {% endif %}"
            alt="{{ blog.title }}" />
        </div>

        <div class="blog-thumbnails">
          {% for img in blog.ordered_images %}
            <div class="thumbnail{% if forloop.first %} active{% endif %}">
              <img src="{{ img.image.url }}" data-full="{{ img.image.url }}" alt="{{ blog.title }}" />
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
{% endblock %}
