{% extends 'layout.html' %}
{% load static %}
{% load i18n %}
{% block title %}
  <title>{% trans 'MKontakt - Səbət' %}</title>
{% endblock %}

{% block meta_tags %}
  <meta name="description" content="{% trans 'MKontakt - Səbət' %}" />
  <meta property="og:title" content="{% trans 'MKontakt - Səbət' %}" />
  <meta property="og:description" content="{% trans 'MKontakt - Səbət' %}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ request.build_absolute_uri }}" />
  <meta property="og:image" content="{% static 'images/mcontact-blue-logo.png' %}" />
{% endblock %}

{% block main %}
  <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />

  <section id="cart-main">
    <div class="cart-main-container">
      <div class="cart-title">
        <h1>{% trans 'Səbət' %}</h1>
      </div>

      <div class="if-cart-exists">
        <div class="cart-container">
          <div class="cart-container-left">
            <div class="left-upper">
              <div class="cart-show-product-count">
                {% if cart.items.exists %}
                  {% trans 'Səbət' %} <span>({{ cart.items.count }} {% trans 'Məhsul' %})</span>
                {% else %}
                  {% trans 'Məhsul yoxdur' %}
                {% endif %}
              </div>
              <hr />
              {% if cart.items.exists %}
                <div class="select-and-delete-actions">
                  <button class="select-all">{% trans 'Hamısını seç' %}</button>
                  <button class="delete-selected"><i class="fa-solid fa-trash-can"></i> {% trans 'Seçilənləri sil' %}</button>
                </div>
              {% endif %}
            </div>

            {% if cart.items.exists %}
              {% for item in page_obj %}
                <div class="left-under cart-item" data-id="{{ item.id }}">
                  <div class="cart-product-box">
                    <div class="cart-product-img">
                      <a href="{{ item.product.get_absolute_url }}"><img src="{{ item.product.get_main_image_url }}" alt="{{ item.product.title }}" /></a>
                    </div>

                    <div class="cart-product-general-actions">
                      <div class="cart-product-content-and-delete">
                        <div class="cart-product-content">
                          <div class="cart-product-title">
                            <a href="{{ item.product.get_absolute_url }}">{{ item.product.title }}</a>

                            <input type="checkbox" id="checkbox-{{ item.id }}" class="select-one" />
                            <label for="checkbox-{{ item.id }}"><span class="custom-checkbox"></span></label>
                          </div>

                          <div class="cart-product-description">
                            {% for c in item.product.categories.all %}
                              {{ c.name }}{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                          </div>
                        </div>

                        <div class="cart-product-delete">
                          <i class="fa-solid fa-xmark"></i>
                        </div>
                      </div>

                      <div class="cart-product-count-and-price">
                        <div class="cart-product-count">
                          <div class="counter">
                            <button class="counter-btn minus" data-action="dec">-</button>
                            <div class="counter-value">{{ item.quantity }}</div>
                            <button class="counter-btn plus" data-action="inc">+</button>
                          </div>
                        </div>
                        <div class="cart-product-price">₼{{ item.product.price|floatformat:2 }}</div>
                      </div>
                    </div>
                  </div>
                </div>
              {% endfor %}

              {% if page_obj.has_other_pages %}
                <div class="pagination">
                  {% if page_obj.has_previous %}
                    <a class="page-item prev" href="?page={{ page_obj.previous_page_number }}"><span>&lsaquo;</span></a>
                  {% else %}
                    <div class="page-item prev">
                      <span>&lsaquo;</span>
                    </div>
                  {% endif %}

                  {% for p in page_obj.paginator.page_range %}
                    {% if p == page_obj.number %}
                      <div class="page-item active">{{ p }}</div>
                    {% else %}
                      <a class="page-item" href="?page={{ p }}">{{ p }}</a>
                    {% endif %}
                  {% endfor %}

                  {% if page_obj.has_next %}
                    <a class="page-item next" href="?page={{ page_obj.next_page_number }}"><span>&rsaquo;</span></a>
                  {% else %}
                    <div class="page-item next">
                      <span>&rsaquo;</span>
                    </div>
                  {% endif %}
                </div>
              {% endif %}
            {% endif %}
          </div>

          <div class="cart-container-right">
            <div class="submit-discount-code-container">
              <input type="text" id="discount-code-input" placeholder="{% trans 'Endirim kodu daxil edin' %}" />
              <button id="apply-discount">{% trans 'Tətbiq et' %}</button>
            </div>

            <div class="payment-info-container">
              <div class="payment-info-title">
                {% trans 'Ödəniş məlumatları' %}
              </div>

              <div class="price">
                <div>
                  {% trans 'Qiymət' %}
                </div>
                <div>₼{{ cart.raw_total|floatformat:2 }}</div>
              </div>

              <div class="product-discount">
                <div>
                  {% trans 'Məhsul endirimi' %}
                </div>
                <div>-₼{{ cart.product_discount|floatformat:2 }}</div>
              </div>

              {% if cart.category_discount %}
                <div class="product-discount">
                  <div>
                    {% trans 'Kateqoriya endirimi' %}
                  </div>
                  <div>-₼{{ cart.category_discount|floatformat:2 }}</div>
                </div>
              {% endif %}

              <div class="discount-code">
                <div>
                  {% trans 'Endirim kodu' %}
                </div>
                <div>-₼{{ discount_amount|floatformat:2 }}</div>
              </div>

              <div class="delivery-price">
                <div>
                  {% trans 'Çatdırılma' %}
                </div>
                <div>
                  {% trans 'Ödənişsiz' %}
                </div>
              </div>

              <hr />

              <div class="subtotal">
                <div>
                  {% trans 'Ümumi' %}
                </div>
                <div>₼{{ cart.grand_total|floatformat:2 }}</div>
              </div>

              {% if cart.items.exists %}
                <div class="submit-cart">
                  <a href="{% url 'MContact:order' %}" id="go-order">{% trans 'Davam edin' %}</a>
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
