{% extends 'layout.html' %}
{% load static %}
{% load i18n %}
{% block title %}
  <title>{% trans "Mkontakt - Parolun yenilənməsi" %}</title>
{% endblock %}
{% block meta_tags %}
  <meta name="description" content="{% trans "Mkontakt - Parolun yenilənməsi" %}" />
  <meta property="og:title" content="{% trans "Mkontakt - Parolun yenilənməsi" %}" />
  <meta property="og:description" content="{% trans "Mkontakt - Parolun yenilənməsi" %}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ request.build_absolute_uri }}" />
  <meta property="og:image" content="{% static 'images/mcontact-blue-logo.png' %}" />
{% endblock %}
{% block main %}
  <section id="form-main">
    <div class="form-container">
      <div style="width: 100% !important" class="form">
        <h1 class="text-center">{% trans "Parol yenilənməsi" %}</h1>
        {% if messages %}
          <div class="messages">
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}
          </div>
        {% endif %}
        <form action="{% url 'MContact:change_password' %}" method="post">
          {% csrf_token %}
          <input type="hidden" name="id" value="{{ request.session.user_id }}" />
          <label>{% trans "Köhnə Parol" %}</label>
          <div class="password-input">
            <input name="old_password" type="password" placeholder="Köhnə Parol" required />
            <i class="fa-solid fa-eye"></i>
          </div>

          <label>{% trans "Yeni Parol" %}</label>
          <div class="password-input">
            <input name="new_password" type="password" placeholder="Yeni Parol" required />
            <i class="fa-solid fa-eye"></i>
          </div>

          <label>{% trans "Yeni Parol Təkrar" %}</label>
          <div class="password-input">
            <input name="confirm_password" id="confirm-password" type="password" placeholder="Təkrar Parol" required />
            <i class="fa-solid fa-eye"></i>
          </div>

          <button style="margin-top:20px" class="action-btn">{% trans "Təsdiq" %}</button>
        </form>
      </div>
    </div>
  </section>
{% endblock %}
