{% extends 'layout.html' %}
{% load static %}
{% load i18n %}
{% block title %}
  <title>MContact - Profil məlumatlarının yenilənməsi</title>
{% endblock %}
{% block meta_tags %}
  <meta name="description" content="MContact - Profil məlumatlarının yenilənməsi" />
  <meta property="og:title" content="MContact - Profil məlumatlarının yenilənməsi" />
  <meta property="og:description" content="MContact - Profil məlumatlarının yenilənməsi" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ request.build_absolute_uri }}" />
  <meta property="og:image" content="{% static 'images/mcontact-blue-logo.png' %}" />
{% endblock %}
{% block main %}
  <section id="edit-profile">
    <div class="profile-title">
      <h1>Şəxsi məlumatlar</h1>
    </div>
    <div class="profile-info-container">
      {% if user.image %}
        <img src="{{ user.image.url }}" alt="{{ user.full_name }}" />
      {% else %}
        <img src="{% static 'images/edit-profile-img.jpg' %}" alt="{{ user.full_name }}" />
      {% endif %}
      <div class="profile-info-name">{{ user.full_name }}</div>
      <div class="profile-info-email">{{ user.email }}</div>
      <div class="profile-info-number">
        <a href="tel:{{ user.phone }}">{{ user.phone }}</a>
      </div>
      <div class="profile-info-change-password">
        <a href="{% url 'MContact:change_password' %}">Parolun dəyişilməsi</a>
      </div>
    </div>
  </section>

  <section id="edit-profile-form">
    <form action="{% url 'MContact:edit_profile' %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
  
      <label>Ad soyad</label>
      <div class="input-container">
        <input name="full_name" type="text" value="{{ user.full_name }}" readonly />
        <i class="fa-solid fa-pen-to-square"></i>
      </div>
  
      <label>E‑poçt ünvanı</label>
      <div class="input-container">
        <input name="email" type="email" value="{{ user.email }}" readonly />
        <i class="fa-solid fa-pen-to-square"></i>
      </div>
  
      <label>Telefon nömrəsi</label>
      <div class="input-container phone-input">
        <img src="{% static 'images/az-flag.png' %}" alt="Azerbaijan Flag" />
        <input name="phone" type="tel" value="{{ user.phone }}" readonly />
        <i class="fa-solid fa-pen-to-square"></i>
      </div>
  
      <label>Doğum tarixi</label>
      <div class="input-container">
        <input name="birth_date" type="date" value="{{ user.birth_date|date:'Y-m-d' }}" readonly />
        <i class="fa-solid fa-pen-to-square"></i>
      </div>
  
      <button type="submit" class="action-btn">Təsdiq</button>
    </form>
  </section>
{% endblock %}
