{% extends 'layout.html' %}
{% load static %}
{% load i18n %}
{% block title %}
  <title>{% trans "Mkontakt - Profil məlumatlarının yenilənməsi" %}</title>
{% endblock %}
{% block meta_tags %}
  <meta name="description" content="{% trans "Mkontakt - Profil məlumatlarının yenilənməsi" %}" />
  <meta property="og:title" content="{% trans "Mkontakt - Profil məlumatlarının yenilənməsi" %}" />
  <meta property="og:description" content="{% trans "Mkontakt - Profil məlumatlarının yenilənməsi" %}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ request.build_absolute_uri }}" />
  <meta property="og:image" content="{% static 'images/mcontact-blue-logo.png' %}" />
{% endblock %}
{% block main %}
  <section id="edit-profile">
    <div class="profile-title">
      <h1>{% trans "Şəxsi məlumatlar" %}</h1>
    </div>
    <div class="profile-info-container">
      {% if user.image %}
        <img src="{{ user.image.url }}" alt="{{ user.full_name }}" />
      {% else %}
        <img src="{% static 'images/user-default-blue.png' %}" alt="{{ user.full_name }}" />
      {% endif %}
      <div class="profile-info-name">{{ user.full_name }}</div>
      <div class="profile-info-email">{{ user.email }}</div>
      <div class="profile-info-number">
        <a href="tel:{{ user.phone }}">{{ user.phone }}</a>
      </div>
      <div class="profile-info-change-password">
        <a href="{% url 'MContact:change_password' %}">{% trans "Parolun dəyişilməsi" %}</a>
      </div>
    </div>
  </section>

  <section id="edit-profile-form">
    <form action="{% url 'MContact:edit_profile' %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}

      <label>{% trans "Ad soyad" %}</label>
      <div class="input-container">
        <input name="full_name" type="text" value="{{ user.full_name }}" readonly />
        <i class="fa-solid fa-pen-to-square"></i>
      </div>

      <label>{% trans "E‑poçt ünvanı" %}</label>
      <div class="input-container">
        <input name="email" type="email" value="{{ user.email }}" readonly />
        <i class="fa-solid fa-pen-to-square"></i>
      </div>

      <label>{% trans "Telefon nömrəsi" %}</label>
      <div class="input-container phone-input">
        <img src="{% static 'images/az-flag.png' %}" alt="Azerbaijan Flag" />
        <input name="phone" type="tel" value="{{ user.phone }}" readonly />
        <i class="fa-solid fa-pen-to-square"></i>
      </div>

      <label>{% trans "Doğum tarixi" %}</label>
      <div class="input-container">
        <input name="birth_date" type="date" value="{{ user.birth_date|date:'Y-m-d' }}" readonly />
        <i class="fa-solid fa-pen-to-square"></i>
      </div>

      <button type="submit" class="action-btn">{% trans "Təsdiq" %}</button>
    </form>
  </section>
{% endblock %}
