{% extends 'layout.html' %}
{% load static %}
{% load i18n %}
{% block title %}
  <title>MContact - Şifrəmi unuttum</title>
{% endblock %}
{% block meta_tags %}
  <meta name="description" content="MContact - Şifrəmi unuttum" />
  <meta property="og:title" content="MContact - Şifrəmi unuttum" />
  <meta property="og:description" content="MContact - Şifrəmi unuttum" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ request.build_absolute_uri }}" />
  <meta property="og:image" content="{% static 'images/mcontact-blue-logo.png' %}" />
{% endblock %}
{% block main %}
  <section id="form-main">
    <div class="form-container">
      <div class="form">
        <h1>Şifrəni unutdum</h1>
        <p>Şifrəni sıfırlamaq üçün e-poçtunuzu daxil edin</p>

        {% if messages %}
          <ul class="form-errors">
            {% for m in messages %}
              <li>{{ m }}</li>
            {% endfor %}
          </ul>
        {% endif %}

        <form action="{% url 'MContact:forget-password' %}" method="post">
          {% csrf_token %}
          <label>E-poçt</label>
          <input type="email" name="email" placeholder="E-poçt ünvanınızı daxil edin" required />
          <button type="submit" class="action-btn" style="margin-top:20px">Şifrənin sıfırlanması</button>
        </form>
      </div>

      <div class="form-img">
        <img src="{% static 'images/form-default.jpg' %}" alt="" />
        <div class="form-img-content">
          <h2>Həyatınıza Keyfiyyət və Stil Qatın!</h2>
          <p>
            Biz, mebel aksesuarları sahəsində ən son dizaynlar və yüksək<br />
            keyfiyyətlə məhsullar təqdim edirik. Eviniz və ofisiniz üçün<br />
            mükəmməl seçimlər yaratmaq bizim işimizdir.
          </p>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
