{% extends 'layout.html' %}
{% load static %}
{% load i18n %}
{% block title %}
  <title>MContact - Yeni şifrənin təyin edilməsi</title>
{% endblock %}
{% block meta_tags %}
  <meta name="description" content="MContact - Yeni şifrənin təyin edilməsi" />
  <meta property="og:title" content="MContact - Yeni şifrənin təyin edilməsi" />
  <meta property="og:description" content="MContact - Yeni şifrənin təyin edilməsi" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ request.build_absolute_uri }}" />
  <meta property="og:image" content="{% static 'images/mcontact-blue-logo.png' %}" />
{% endblock %}
{% block main %}
  <section id="form-main">
    <div class="form-container">
      <div class="form">
        <h1>Yeni şifrə yaradın</h1>
        <p>Təhlükəsizlik üçün əvvəlki parollarınızdan fərqli olduğuna əmin olun</p>

        {% if messages %}
          <ul class="form-errors">
            {% for m in messages %}
              <li>{{ m }}</li>
            {% endfor %}
          </ul>
        {% endif %}

        <form action="{% url 'MContact:new-password' %}" method="post">
          {% csrf_token %}
          <label>Parol</label>
          <div class="password-input">
            <input type="password" name="password" id="password" placeholder="Parol" required />
            <i class="fa-solid fa-eye toggle-eye"></i>
          </div>

          <label>Təkrar parol</label>
          <div class="password-input">
            <input type="password" name="confirm_password" id="confirm-password" placeholder="Təkrar parol" required />
            <i class="fa-solid fa-eye toggle-eye"></i>
          </div>

          <button type="submit" class="action-btn" style="margin-top:20px">Şifrəni yeniləyin</button>
        </form>
      </div>

      <div class="form-img">
        <img src="{% static 'images/form-default.jpg' %}" alt="" />
        <div class="form-img-content">
          <h2>Həyatınıza Keyfiyyət və Stil Qatın!</h2>
          <p>
            Biz, mebel aksesuarları sahəsində ən son dizaynlar və yüksək<br />
            keyfiyyətlə məhsullar təqdim edirik. Eviniz və ofisiniz üçün<br />
            mükəmməl seçimlər yaratmaq bizim işimizdir.
          </p>
        </div>
      </div>
    </div>
  </section>

  <script>
    document.querySelectorAll('.toggle-eye').forEach((i) => {
      i.addEventListener('click', () => {
        const inp = i.previousElementSibling
        inp.type = inp.type === 'password' ? 'text' : 'password'
      })
    })
  </script>
{% endblock %}
