{% extends 'layout.html' %}
{% load static %}
{% load i18n %}
{% block title %}
  <title>{% trans 'Mkontakt - Məhsullar' %}</title>
{% endblock %}
{% block meta_tags %}
  <meta name="description" content="{% trans 'Mkontakt - Məhsullar' %}" />
  <meta property="og:title" content="{% trans 'Mkontakt - Məhsullar' %}" />
  <meta property="og:description" content="{% trans 'Mkontakt - Məhsullar' %}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ request.build_absolute_uri }}" />
  <meta property="og:image" content="{% static 'images/mcontact-blue-logo.png' %}" />
{% endblock %}
{% block main %}
  <section id="mini-routes">
    <div class="routes">
      <a href="{% url 'MContact:index' %}" class="route">{% trans 'Əsas səhifə' %}</a>
      <div>
        <i class="fa-solid fa-chevron-right"></i>
      </div>
      <a href="{% url 'MContact:products' %}" class="route active">{% trans 'Məhsullar' %}</a>
    </div>
  </section>

  <section id="products-container">
    <div class="products-container-content">
      <h3>{% trans 'Məhsullar' %}</h3>
    </div>

    <div class="regulation-products">
      <div class="regulation-products-content-wrapper">
        <div class="regulation-products-content">
          <div>
            <i class="fa-brands fa-elementor"></i>
          </div>
          <div>
            {% trans 'Tənzimləmə' %}
          </div>
        </div>
        <div class="regulation-products-dropdown">
          <div class="cheapest" data-ordering="price_asc">
            {% trans 'Əvvəlcə ucuz' %}
          </div>
          <div class="expensive" data-ordering="price_desc">
            {% trans 'Əvvəlcə baha' %}
          </div>
        </div>
      </div>
    </div>

    <div class="filter-and-products">
      <div class="filter">
        <div class="filter-title">
          {% trans 'Filter' %}
        </div>

        <div class="filter-by">
          <div class="toggle-filter">
            <div class="filter-by-name">
              {% trans 'Brendlər' %}
            </div>
            <div class="filter-by-icon">
              <i class="fa-solid fa-chevron-down"></i>
            </div>
          </div>
          <div class="filter-dropdown">
            <ul>
              {% for brand in brands %}
                <li>
                  <label>
                    <input type="checkbox" name="brand" value="{{ brand.id }}" />
                    {{ brand.name }}
                  </label>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>

        <div class="filter-by">
          <div class="toggle-filter">
            <div class="filter-by-name">
              {% trans 'Kateqoriyalar' %}
            </div>
            <div class="filter-by-icon">
              <i class="fa-solid fa-chevron-down"></i>
            </div>
          </div>
          <div class="filter-dropdown">
            <ul>
              {% for category in categories %}
  <li>
    <label>
      <input type="checkbox" name="category" value="{{ category.id }}" />
      <span class="category-name">
      {{ category.name }}
      </span>
      {% if category.discount %}
        ({{ category.discount }}%{% trans 'endirim' %})
      {% endif %}
    </label>

    {% if category.subcategories.all %}
      <ul class="subcategory-list">
        {% for sub in category.subcategories.all %}
  <li>
    <label>
      <input
        type="checkbox"
        name="subcategory"
        value="{{ sub.id }}"
        {% if sub.id in selected_subcategories %}checked{% endif %}
      />
      {{ sub.name }}
    </label>
  </li>
{% endfor %}
      </ul>
    {% endif %}
  </li>
{% endfor %}

            </ul>
          </div>
        </div>

        <div class="filter-by">
          <div class="toggle-filter">
            <div class="filter-by-name">
              {% trans 'Qiymət' %}
            </div>
            <div class="filter-by-icon">
              <i class="fa-solid fa-chevron-down"></i>
            </div>
          </div>
          <div class="filter-dropdown">
            <div class="price-avg">
              <div class="min-price">
                <input placeholder="Min" type="number" name="min_price" />
              </div>
              <div class="max-price">
                <input placeholder="Max" type="number" name="max_price" />
              </div>
            </div>
          </div>
        </div>

        {% for attr in attributes %}
            <div class="filter-by">
              <div class="toggle-filter">
                <div class="filter-by-name">{{ attr.name }}</div>
                <div class="filter-by-icon"><i class="fa-solid fa-chevron-down"></i></div>
              </div>
              <div class="filter-dropdown">
                <ul>
                  {% for val in attr.values.all %}
                    <li>
                      <label>
                        <input
                          type="checkbox"
                          name="attr_{{ attr.id }}"
                          value="{{ val.id }}"
                          {% if val.id in selected_attr_vals %}checked{% endif %}
                        />
                        {{ val.value }}
                      </label>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
        {% endfor %}

        <div class="filter-btns">
          <button class="apply-btn">{% trans 'Təsdiq et' %}</button>
          <button class="reset-btn">{% trans 'Sıfırla' %}</button>
        </div>
      </div>
      <div class="if-products-exists">
        <div class="products-list">
          <div class="row row-gap-4">
            {% if page_obj.object_list %}
              {% for product in page_obj %}
                <div class="col-lg-3 col-md-4 col-sm-4 col-6">
                  <div class="product-box">
                    <div class="product-img">
                      <a href="{{ product.get_absolute_url }}"><img src="{{ product.get_main_image_url }}" alt="{{ product.title }}" /></a>
                      {% if product.discount %}
                        <div class="product-discount-percent">-{{ product.discount }}%</div>
                      {% endif %}
                      <a href="{% url 'MContact:wishlist-toggle' product.id %}" class="product-add-to-favourites {% if product.id in wish_ids %}active{% endif %}"><i class="fa-solid fa-heart"></i></a>
                    </div>
                    <div class="product-content">
                      <a href="{{ product.get_absolute_url }}">
                        <div class="title">{{ product.title }}</div>
                        <div class="description">{{ product.description|truncatechars:20 }}</div>
                      </a>
                      <div class="product-price-and-cart">
                        <div class="product-price">₼{{ product.price }}</div>
                        {% if product.is_active %}
                          <div class="product-add-to-cart" data-product="{{ product.id }}">
                            <i class="fa-solid fa-plus"></i>
                          </div>
                        {% else %}
                          <div class="out-of-stock-label">
                            {% trans 'Stokda yoxdur' %}
                          </div>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                </div>
              {% endfor %}
            {% else %}
              <script>
                document.addEventListener('DOMContentLoaded', function () {
                  document.querySelector('.if-products-exists').style.display = 'none'
                  document.querySelector('.if-products-doesnt-exists').style.display = 'block'
                })
              </script>
            {% endif %}
          </div>
        </div>
      </div>

      <div class="if-products-doesnt-exists" style="display: none;">
        <div class="img-container">
          <img src="{% static 'images/if-products-doesnt-exists-img.png' %}" alt="" />
          <div class="img-container-content">
            <h6>{% trans 'Məhsul tapılmadı' %}</h6>
            <p>
              {% trans 'Seçdiyiniz filtirə əsasən məhsul tapılmadı' %}
            </p>
          </div>
        </div>
      </div>
    </div>

    {% if page_obj.has_other_pages %}
      <div class="pagination">
        {% if page_obj.has_previous %}
          <a class="page-item prev" href="?page={{ page_obj.previous_page_number }}{{ request.GET.urlencode|safe|cut:'page=' }}"><span>&lsaquo;</span></a>
        {% else %}
          <div class="page-item prev" aria-label="Əvvəlki səhifə">
            <span>&lsaquo;</span>
          </div>
        {% endif %}

        {% for p in page_obj.paginator.page_range %}
          {% if p == page_obj.number %}
            <div class="page-item active">{{ p }}</div>
          {% else %}
            <a class="page-item" href="?page={{ p }}{{ request.GET.urlencode|safe|cut:'page=' }}">{{ p }}</a>
          {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
          <a class="page-item next" href="?page={{ page_obj.next_page_number }}{{ request.GET.urlencode|safe|cut:'page=' }}"><span>&rsaquo;</span></a>
        {% else %}
          <div class="page-item next" aria-label="Növbəti səhifə">
            <span>&rsaquo;</span>
          </div>
        {% endif %}
      </div>
    {% endif %}
  </section>
{% endblock %}