{% extends 'layout.html' %}
{% load static %}
{% load i18n %}
{% block title %}
  <title>{% trans "Mkontakt - Qeydiyyat" %}</title>
{% endblock %}
{% block meta_tags %}
  <meta name="description" content="{% trans "Mkontakt - Qeydiyyat" %}" />
  <meta property="og:title" content="{% trans "Mkontakt - Qeydiyyat" %}" />
  <meta property="og:description" content="{% trans "Mkontakt - Qeydiyyat" %}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ request.build_absolute_uri }}" />
  <meta property="og:image" content="{% static 'images/mcontact-blue-logo.png' %}" />
{% endblock %}
{% block main %}
  <section id="form-main">
    <div class="form-container">
      <div class="form">
        {% if messages %}
          <div class="messages">
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}
          </div>
        {% endif %}
        <h1>{% trans "Qeydiyyat" %}</h1>
        <p>{% trans "Daha çox imkanlar üçün hesab yaradın" %}</p>

        <form action="{% url 'MContact:register' %}" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <label>{% trans "Ad soyad" %}</label>
          <input type="text" name="full_name" placeholder="Ad soyadınızı daxil edin" required />

          <label>{% trans "E-poçt ünvanı" %}</label>
          <input type="email" name="email" placeholder="E-poçt ünvanınızı daxil edin" required />

          <label>{% trans "Telefon nömrəsi" %}</label>
          <div class="phone-input">
            <img src="{% static 'images/az-flag.png' %}" alt="Azerbaijan Flag" />
            <input type="tel" name="phone" placeholder="00 000 00 00" required />
          </div>

          <label>{% trans "Doğum tarixini daxil edin" %}</label>
          <input type="date" name="birth_date" placeholder="Doğum tarixini daxil edin" required />

          <label>{% trans "Parol" %}</label>
          <div class="password-input">
            <input type="password" name="password" id="password" placeholder="Parol" required />
            <i class="fa-solid fa-eye"></i>
          </div>

          <label>{% trans "Təkrar parol" %}</label>
          <div class="password-input">
            <input type="password" name="confirm_password" id="confirm-password" placeholder="Təkrar parol" required />
            <i class="fa-solid fa-eye"></i>
          </div>

          <div class="terms">
            <input type="checkbox" id="terms" name="terms" hidden />
            <label for="terms">
              <span class="custom-checkbox"></span>
              <a href="{% url 'MContact:rules' %}">{% trans "İstifadə qaydalarını" %}</a> {% trans "oxudum və razıyam" %}
            </label>
          </div>

          <button type="submit" class="action-btn">{% trans "Qeydiyyat" %}</button>
          <p class="existing-account">
            {% trans "Hesabınız var?" %} <a href="{% url 'MContact:login' %}">{% trans "Giriş edin" %}</a>
          </p>
        </form>
      </div>
      <div class="form-img">
        <img src="{% static 'images/form-default.jpg' %}" alt="" />
        <div class="form-img-content">
          <h2>{% trans "Həyatınıza Keyfiyyət və Stil Qatın!" %}</h2>
          <p>
            {% trans "Biz, mebel aksesuarları sahəsində ən son dizaynlar və yüksək" %}<br />
            {% trans "keyfiyyətlə məhsullar təqdim edirik. Eviniz və ofisiniz üçün" %}<br />
            {% trans "mükəmməl seçimlər yaratmaq bizim işimizdir." %}
          </p>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
