{% extends 'layout.html' %}
{% load static %}
{% load i18n %}
{% block title %}
  <title>{% trans "Mkontakt - İstifadə qaydaları" %}</title>
{% endblock %}
{% block meta_tags %}
  <meta name="description" content="{% trans "Mkontakt - İstifadə qaydaları" %}" />
  <meta property="og:title" content="{% trans "Mkontakt - İstifadə qaydaları" %}" />
  <meta property="og:description" content="{% trans "Mkontakt - İstifadə qaydaları" %}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ request.build_absolute_uri }}" />
  <meta property="og:image" content="{% static 'images/mcontact-blue-logo.png' %}" />
{% endblock %}
{% block main %}
  <section id="mini-routes">
    <div class="routes">
      <a href="{% url 'MContact:index' %}" class="route">{% trans "Əsas səhifə" %}</a>
      <div>
        <i class="fa-solid fa-chevron-right"></i>
      </div>
      <a href="{% url 'MContact:rules' %}" class="route active">{% trans "İstifadə qaydaları" %}</a>
    </div>
  </section>

  <section id="about-us-content-main">
    <div class="title">
      <h1>{% trans "İstifadə qaydaları" %}</h1>
    </div>
    <div class="about-us-content">
      <p>
        <strong>{% trans "1. Qeydiyyat və Giriş" %}</strong>
      </p>
      <p>
        &bull; {% trans "Saytımıza qeydiyyatdan keçərkən doğru və tam məlumatlar təqdim etməlisiniz." %}<br />
        &bull; {% trans "Hesabınızı yalnız şəxsi məqsədləriniz üçün istifadə edin və üçüncü şəxslərə verməyin." %}<br />
        &bull; {% trans "Hesabınızın təhlükəsizliyinə cavabdehsiniz və şifrənizin məxfiliyini qoruyun." %}
      </p>

      <p>
        <strong>{% trans "2. Məhsul Seçimi və Sifarişi" %}</strong>
      </p>
      <p>
        &bull; {% trans "Məhsul seçərkən məhsulun təsvirini və qiymətini diqqətlə oxuyun." %}<br />
        &bull; {% trans "Məhsul sifariş edərkən səhv məlumat daxil etməmək üçün diqqətli olun." %}<br />
        &bull; {% trans "Saytımızda yalnız mövcud olan məhsullar sifariş verilə bilər." %}<br />
      </p>

      <p>
        <strong>{% trans "3. Ödəniş və Çatdırılma" %}</strong>
      </p>
      <p>
        &bull; {% trans "Ödəniş prosesində göstərdiyiniz məlumatların doğru və aktual olması vacibdir." %}<br />
        &bull; {% trans "Sifarişinizin çatdırılma ünvanını düzgün və tam şəkildə təqdim edin." %}<br />
        &bull; {% trans "Ödəniş tamamlandıqdan sonra sifarişinizi geri qaytarmaq və ya dəyişdirmək mümkün olmayacaq." %}
      </p>

      <p>
        <strong>{% trans "4. Qadağan Edilən Fəaliyyətlər" %}</strong>
      </p>
      <p>
        &bull; {% trans "Saytımızda digər istifadəçilərin hüquqlarına zərər verən və ya qanunlara uyğun olmayan fəaliyyətlər qadağandır." %}<br />
        &bull; {% trans "Sayt üzərindən saxta və ya yanıltıcı məlumat vermək, müştəri məlumatlarını pozmaq və ya spam göndərmək qətiyyən yolverilməzdir." %}
      </p>

      <p>
        <strong>{% trans "5. İstifadəçi Hüquqları və Məsuliyyətlər" %}</strong>
      </p>
      <p>
        &bull; {% trans "Saytı istifadə edərkən bütün qanunlara və nizamnamələrə riayət etmək vacibdir." %}<br />
        &bull; {% trans "Məhsul və xidmətlərimizə dair hər hansı bir şikayət və ya problem yaranarsa, müştəri xidmətimizlə əlaqə saxlamaq lazımdır." %}
      </p>

      <p>
        <strong>{% trans "6. İstifadəçi Məlumatlarının Qorunması" %}</strong>
      </p>
      <p>
        &bull; {% trans "Şəxsi məlumatlarınızın təhlükəsizliyi bizim üçün önəmlidir. Məlumatlarınız yalnız xidmətin təmin edilməsi məqsədilə istifadə olunacaq." %}<br />
        &bull; {% trans "İstifadəçi məlumatlarının üçüncü tərəflərlə paylaşılması yalnız qanuni tələblərə uyğun olaraq həyata keçiriləcək." %}<br />
      </p>

      <p>
        <strong>{% trans "7. Saytın Dəyişdirilməsi və Bağlanması" %}</strong>
      </p>
      <p>
        &bull; {% trans "Saytımızın funksiyalarında dəyişiklik etmək və ya xidmətləri müvəqqəti olaraq dayandırmaq haqqına sahibik." %}<br />
        &bull; {% trans "İstifadəçilər bu dəyişikliklərə dərhal riayət etməli və uyğun olaraq davranmalıdırlar." %}
      </p>
    </div>
  </section>
{% endblock %}
