{% extends 'layout.html' %}
{% load static %}
{% load i18n %}
{% block title %}
  <title>{% trans 'Mkontakt – İstək siyahısı' %}</title>
{% endblock %}
{% block main %}
  <section id="wishlist-main">
    <div class="wishlist-title">
      <h1>{% trans 'İstək siyahısı' %}</h1>
    </div>

    {% if wishes %}
      <div class="if-wishlist-exists">
        <div class="wishlist-container">
          <div class="row row-gap-4">
            {% for wish in wishes %}
              {% with product=wish.product %}
                <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                  <div class="product-box">
                    <div class="product-img">
                      <img src="{{ product.get_main_image_url }}" alt="{{ product.title }}" />
                      {% if product.discount %}
                        <div class="product-discount-percent">-{{ product.discount }}%</div>
                      {% endif %}
                      <a href="{% url 'MContact:wishlist-toggle' product.id %}" class="product-add-to-favourites active"><i class="fa-solid fa-heart"></i></a>
                    </div>

                    <div class="product-content">
                      <a href="{{ product.get_absolute_url }}"><div class="title">{{ product.title }}</div></a>
                      <div class="description">{{ product.description|striptags|truncatechars:20 }}</div>
                      <div class="product-price-and-cart">
                        <div class="product-price">₼{{ product.price }}</div>
                        <div class="product-add-to-cart" data-product="{{ product.id }}">
                          <i class="fa-solid fa-plus"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              {% endwith %}
            {% endfor %}
          </div>
        </div>
      </div>
    {% else %}
      <div class="if-wishlist-doesnt-exists">
        <div class="img-container">
          <img src="{% static 'images/if-wishlist-doesnt-exists-img.png' %}" alt="" />
          <div class="img-container-content">
            <h6>{% trans 'İstək siyahısı boşdur' %}</h6>
            <p>
              {% trans 'İstək siyahısına məhsul əlavə et.' %}
            </p>
            <a href="{% url 'MContact:index' %}">{% trans 'Əsas səhifə' %}</a>
          </div>
        </div>
      </div>
    {% endif %}
  </section>
{% endblock %}
